body{
    width: 70%;
    margin: auto;
    font-family: "Segoe UI";
}

.sectionProgress{
    height: 230px;
    border: 3px;
    border-style: solid;
    border-color: rgba(243, 95, 95, 0.49);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 15px 0 17px 0;
}

.sectionProgress h3{
    font-size: 53px;
    color: rgb(113, 111, 111);
    margin: 0 0 10px 0;
}

.sectionProgress h4{
    font-size: 45px;
    color: rgb(188, 186, 186);
}

.sectionProgress h5{
    font-size: 20px;
    color: rgb(188, 186, 186);
}

.sectionProgress h6{
    text-align: end;
    color: gray;
    margin: 0 10px 0 0;
}

.sectionProgress .section_play_task{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Styles for play button */
.sectionProgress .section_play_task
 .start_task{
    display: none;;
    width: 110px;
    height: 110px;
    background: transparent;
    border: 3px;
    border-style: solid;
    border-radius: 55px;
    border-color: rgb(243, 95, 95);
    margin: 0 40px 0 40px;
}

.sectionProgress .section_play_task
 .start_task:hover{
    box-shadow: 2px 2px 15px 5px rgb(112, 112, 112);
 }

 .sectionProgress .section_play_task
 .start_task .rotate_i {
    -webkit-animation: rotate 5s infinite linear;
    animation: rotate 5s infinite linear;
 }

.sectionProgress .section_play_task
.start_task .material-icons{
    font-size: 60px;
    color: rgb(243, 95, 95);
}

/* Styles for stop button */
.sectionProgress .section_play_task
.stop_task{
    display: none;
    width: 110px;
    height: 110px;
    background: transparent;
    border: 3px;
    border-style: solid;
    border-radius: 55px;
    border-color: rgb(0, 170, 23);
    margin: 0 40px 0 40px;
}

.sectionProgress .section_play_task
.stop_task .material-icons{
    font-size: 80px;
    color: rgb(0, 170, 23);
}

.sectionProgress .section_play_task
.stop_task:hover{
    box-shadow: 2px 2px 15px 5px rgb(112, 112, 112);

    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: flicker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
 }

/* animation to rotate the icon */
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
       transform: rotate(359deg);
    }
}

@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
    }
}

/* animation zoom */
@keyframes flicker{
    0%{opacity: 1.0;}
    50%{opacity: 0.0;}
    100%{opacity: 1.0;}
}

@-webkit-keyframes flicker{
    0%{opacity: 1.0;}
    50%{opacity: 0.0;}
    100%{opacity: 1.0;}
}




/* Section time to break */
.sectionProgress .section_play_task 
.section_time_break{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

.sectionProgress .section_play_task 
.section_time_break h4{
    font-size: 22px;
    color: red;
}

.sectionProgress .section_play_task 
.section_time_break h5{
    font-size: 14px;
    text-align: end;
    vertical-align: bottom;
}

.sectionCreateTask{
    width: 100%;
    height: 160px;
    border-radius: 10px;
    padding: 15px;
    background: rgb(243, 95, 95);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16), 0 5px 8px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0 50px 0;
}

.sectionCreateTask .up{    
    display: grid;
    grid-template-columns: 300px auto;
    margin: 0 0 2% 0;
}

.sectionCreateTask #inTask,
.sectionCreateTask #inDescription{
    display: flex;
    flex-direction: row;
}

.sectionCreateTask h4{
    font-weight: bold;
    color: white;
    font-size: 17px;
    margin: 0 15px 0 0;
}

.sectionCreateTask input{
    border: none;
    border-radius: 5px;
    background: rgba(235,235,235,0.3);
    padding: 15px;
    color: white;
    font-size: 14px;
}

.sectionCreateTask input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255,255,255, 0.46);
    font-size: 12px;
  }
.sectionCreateTask input ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255,255,255, 0.46);
    font-size: 12px;
  }
.sectionCreateTask input :-ms-input-placeholder { /* IE 10+ */
    color: rgba(255,255,255, 0.46);
    font-size: 12px;
  }
.sectionCreateTask input :-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255, 0.46);
    font-size: 12px;
  }

.sectionCreateTask #inTask input{
    height: 32px;
}

.sectionCreateTask #inDescription{
    display: grid;
    grid-template-columns: 100px auto;
}

.sectionCreateTask #inDescription section input{
    width: 100%;
    height: 32px;
}

.sectionCreateTask #inDescription section h6{
    font-size: 10px;
    text-align: end;
    color: rgba(255,255,255, 0.46);
}

.sectionCreateTask .down{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

.sectionCreateTask .down .sectionTime{
    width: 40%;
    display: flex;
    margin: 0;
}

.sectionCreateTask .down::before{
    content: 'Time in minutes';
    position: absolute;
    top: -20px;
    font-size: 12px;
    color: white;
}

.sectionCreateTask .down .sectionTime::before{
    content: '';
    width: 40%;
    height: 1px;
    background: white;
    position: absolute;
    top: 1px;
}

.sectionCreateTask .down .sectionTime::after{
    content: '';
    width: 40%;
    height: 1px;
    background: white;
    position: absolute;
    top: 47px;
}

.sectionCreateTask .down .sectionTime section{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
}

.sectionCreateTask .down section h5{
    font-size: 12px;
    color: white;
    margin:  0 15px 0 0;
}

.sectionCreateTask .down input{
    width: 45px;
    height: 26px;
    padding: 5px;
    margin: 0 15px 0 0;
    text-align: center;
    font-size: 12px;
}

.sectionCreateTask .down .buttons{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    float: right;
}

.sectionCreateTask .down .buttons button:disabled{
    opacity: 0.5;
}

.sectionCreateTask .down .buttons
.ratingBar{
    margin: 0 0 0 10px;
}

.sectionCreateTask .down .buttons
.ratingBar i{
    width: 24px;
}

.sectionCreateTask .down .buttons
.ratingBar .start{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.sectionCreateTask .down .buttons
.ratingBar {
    color: rgb(212, 212, 212);
}


.sectionCreateTask .down .buttons h4{
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.sectionCreateTask .down .buttons
 .containerButtons{
    display: flex;
    flex-direction: row; 
}

.sectionCreateTask .down .buttons 
.containerButtons div:first-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30% 0 0; 
}

.sectionCreateTask .down .buttons 
.containerButtons h4{
    width: 38px;
}

.sectionCreateTask .down .buttons 
.containerButtons button{
    height: 38px;
    width: 38px;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 19px;
    position: relative;
}

.sectionCreateTask .down .buttons 
.containerButtons div:first-of-type button{
    background: rgb(135,135,135);
}

.sectionCreateTask .down .buttons 
.containerButtons div:first-of-type 
button:hover{
    background: rgb(78, 78, 78);
}

.sectionCreateTask .down .buttons 
.containerButtons div:last-of-type button{
    background: rgb(0,170,23);
}

.sectionCreateTask .down .buttons 
.containerButtons div:last-of-type 
button:hover:not(:disa){
    background: rgb(1, 129, 18);
}

.sectionCreateTask .down .buttons 
.containerButtons div:last-of-type 
button:disabled{
    opacity: 50%;
}

.sectionCreateTask .down .buttons
 .containerButtons .material-icons{
     color: white; 
 }

.sectionPendingTask ul:empty::after{
    content: "There is no any task yet";
    color: rgba(112, 112, 112, 0.5);
    font-size: 16px;
}

.sectionPendingTask h2{
    font-weight: bold;
    font-size: 26px;
    color: rgb(113, 111, 111);
    margin: 0 0 15px 0;
}

.sectionPendingTask .items{
    min-height: 45px;
    display: grid;
    grid-template-columns: 170px auto 85px 85px;
    border: 1px;
    border-style: solid;
    border-color: rgb(112, 112, 112);
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0 6px 0;
}

.sectionPendingTask .items::after{
    min-height: 45px;
    transition: all 400ms;
}

.sectionPendingTask .items div{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.sectionPendingTask .items 
#itemDescription{
    margin: 0 15px 0 0;
}

.sectionPendingTask .items div h4{
    color: #000;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.sectionPendingTask .items .ratingBar .checked{
    color: rgb(255, 239, 12);
}

.sectionPendingTask .items .ratingBar .noChecked{
    color: rgb(212, 212, 212);
}


.sectionPendingTask .items button{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border-style: none;
    position: relative;
}

.sectionPendingTask .items button .material-icons{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 12px;
    left: 9px;
    transform: translate(-50%, -50%);
    width: 10px;
}

.sectionPendingTask .items button:first-of-type{
    margin: 0 5px 0 0;
    background: rgb(0, 170, 23);
}

.sectionPendingTask .items .play_pending_task:disabled{
    opacity: 0.5;
}

.sectionPendingTask .items button:last-of-type{
    background: rgb(194, 21, 21);
}




/*Styles for the snackbar*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }