body{
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

div{
    background: #aaa;
    width: 25%;
    margin: 20px auto;
    padding: 10px;
}

h3{
    display: inline;
}

canvas{
    border: .2em;
    border-style: solid;
    border-color: #fff;
    height: 80vh;
}